body{
    background-color: darkslategray;
    
}
.downloader{
    position: relative;
     width: 1000px;
     height: 300px;
     background: linear-gradient(90deg,rgb(185, 127, 20),rgba(20, 211, 211, 0.641));
     border-radius: 20px 20px;
     overflow: hidden;
     margin-top: 200px;
     margin-left: 250px;
}

input[type="button"]
{
    font-size: 20px;
    border: none;
    outline: none;
    background: whitesmoke;
    padding: 5px;
    margin-top: -9px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
   margin-left: 400px;
}
input[type="button"]:active
{
  background: linear-gradient(90deg,#45f3ff,#d9138a);
  opacity: 0.8;  
}
p,b,h1,i
{
    margin-left: 125px;
    
}