@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
    background: #23242a;
}

dt.ex
{
    color: white;
    padding-right: 40px;

    
}
dt
{
    color: white;
    padding-left: 40px;
    padding-top: -30px;
    padding-bottom: -100px;


}
dd{
    
    color: rgba(177, 177, 177, 0.332);
    
    
}
p
{
    color: aliceblue; 
}
input[type="submit"]
{
    font-size:15px;
    border: none;
    outline: none;
    background: rgba(255, 140, 0, 0.644);
    padding: 8px;
    margin-top: 40px;
    border-radius: 70px;
    font-weight: 400;
    cursor: pointer;
    width: 190px;
    margin-left: 40px;
}
input[type="submit"]:active
{
  background: linear-gradient(90deg,#45f3ff,#d9138a);
  opacity: 0.8;  
}
.box{
    background: linear-gradient(45deg,rgba(255, 255, 255, .05),rgba(205, 140, 56, .15));
    position: relative;
    width: 270px;
    height: 580px;
    border-radius: 30px 30px;
    margin-left: 180px;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-bottom: 100px;
    padding-left: -10px;
    margin-top: -20px;

}
h1.exe
{
  color: rgba(255, 140, 0, 0.644);
  margin-left: 200px; 
  margin-bottom: 30px; 
}
.left-content
{
    display: flex;
    align-items: center;
}
a
{
  display: inline;
    color: rgba(255, 140, 0, 0.644);
    text-decoration-line: initial;
    text-transform: initial;
    margin-left: 2%;
    padding-left: 280px;
    height: -500px;
    float: right;
    font-weight: 100;
}
.boxe1
{
    position: relative;
    width: 470px;
    height: 280px;
    border-radius: 30px 30px;
    margin-left: 460px;
    margin-top: -750px;
    padding-left: 150px;
    padding-bottom: 40px;
    background-image: url("escape of pritonia .png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 200px;
    
}        
input[type=checkbox]:checked
{
    accent-color: #c88d40;
}
input[type=radio]:checked
{
    accent-color: #cd8c38;
}

.bo
{
    font-size:15px;
    border: none;
    outline: none;
    background: rgb(255, 140, 0);
    padding: 8px;
    margin-top: 200px;
    border-radius: 70px;
    font-weight: 400;
    cursor: pointer;
    width: 100px;
    margin-right: 500px; 
    margin-left: -120px;
    margin-bottom: 20px;
    
    
}
input[type="button"]:active
{
    background: linear-gradient(90deg,#45f3ff,#d9138a);
    opacity: 0.8;  
  }
.boxes2
{
   
    position: relative;
    width: 250px;
    height: 255px;
    border-radius: 25px 25px;
    margin-left: 460px;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-bottom: 100px;
    padding-left: 10px;
    margin-top: 25px;
    background-image: url("luca.jpg");
        
}
.boxes3
{
   
    position: relative;
    width: 250px;
    height: 255px;
    border-radius: 25px 25px;
    margin-left: 730px;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-bottom: 250px;
    padding-left: 30px;
    margin-top: -405px;
    
    
}
.case3
{
    
    position: relative;
    width: 250px;
    height: 255px;
    border-radius: 30px 30px;
    margin-left: 730px;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-bottom: 250px;
    padding-left: 30px;
    margin-top: -405px;
    background-image: url("ben.jpg");

}
.threeboxe
{
   
    position: relative;
    width: 250px;
    height: 255px;
    border-radius: 30px 30px;
    margin-left: 1020px;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-bottom: 250px;
    padding-left: 30px;
    margin-top: -555px; 
    background-image: url("KACIS.jpg")
}
.upcoming-title{
position: absolute;
top: 2rem;
left: 2rem;
color: #f18a03;
background-color: #23242a;
padding: .5rem 1rem;
border-radius: 2rem;
border: 1px solid #cd8c38;
font-weight: 500;
}
.btn{
    
position: absolute;
top: 2rem;
left: 2rem;
color: #f18a03;
background-color: #23242a;
padding: .5rem 1rem;
border-radius: 2rem;
border: 1px solid #cd8c38;
font-weight: 500;
width: 70px;
margin-top: 220px;
margin-left: -1px;
}
.btn-alt
{
    background-color: #1e1f26;
    color: #cd8c38;
    border: 1px solid #cd8c38;
    
    margin-right: -170px;
    border-radius: 2rem;
    width: 70px;
    padding-left: 60px;
    margin-top: 255px;
}
.boxe4
{
   
    position: relative;
    width: 250px;
    height: 255px;
    border-radius: 30px 30px;
    margin-left: 450px;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-bottom: 250px;
    padding-left: 20px;
    margin-top: -220px; 
    background-image: url("angry.jpg");
}
.boxe5
{
   
    position: relative;
    width: 250px;
    height: 255px;
    border-radius: 30px 30px;
    margin-left: 750px;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-bottom: 250px;
    padding-left: 20px;
    margin-top: -550px; 
    background-image: url("BERLIN.jpg");
}
.boxe6
{
   
    position: relative;
    width: 250px;
    height: 255px;
    border-radius: 30px 30px;
    margin-left: 1050px;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-bottom: 250px;
    padding-left: 20px;
    margin-top: -550px; 
    background-image: url("LUPIN.jpg");
}
.boxe7
{
   
    position: relative;
    width: 250px;
    height: 255px;
    border-radius: 30px 30px;
    margin-left: 1050px;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-bottom: 250px;
    padding-left: 20px;
    margin-top: -570px; 
    background-image: url("luca.jpg");
}
.boxe8
{
   
    position: relative;
    width: 250px;
    height: 255px;
    border-radius: 30px 30px;
    margin-left: 1050px;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-bottom: 250px;
    padding-left: 20px;
    margin-top: -550px; 
    background-image: url("Cobra\ Kai.jpg");
}
.boxe9
{
   
    position: relative;
    width: 250px;
    height: 255px;
    border-radius: 30px 30px;
    margin-left: 1050px;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-bottom: 250px;
    padding-left: 20px;
    margin-top: -550px; 
    color: #f18a03;
}